/* Stiziles */

html, body {
  background: #222222;
}

/* main */
#content {
  width: 330px;
  height: 330px;
  margin: 15px auto;
}

.main {
  width: 300px;
  height: 300px;
	background: #FFF;
	margin: 30px auto;
  color: #000;
	display: flex;
	flex-wrap: wrap;
	border-radius: 6px;
}

.menu-show {
	z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	cursor: pointer;
	display: block;
	background: #6b878f;
	border-radius: 6px;
	padding: 10px;
  font-size: 2em;
  opacity: 1.0;
  transition: opacity .5s ease-in;
}

.menu-show:hover {
  background: #459cb5;
}

.menu-hidden {
	z-index: 1;
	position: absolute;
	top: 25%;
	left: 45%;
	display: none;
}

span {
	display: block;
}

.cell {
	margin: 5px;
	border-radius: 6px;
	height: 90px;
	width: 90px;
	cursor: pointer;
	position: relative;
  background: #8f6b75;
	text-align: center;
	font-size: 5em;
}

.cell:hover {
	background: #6b878f;
}

h3 {
	padding: 5px;
	text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.50;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
