/* Stiziles */

html, body {
  background: #222222;
}

/* main */

.main {
  width: 400px;
	margin: 25px auto;
	padding: 0 15px;
  height: 100%;
  background: #fff;
  color: #000;
}

td {
	padding: 5px;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
	text-align: center;
}

tr {
	margin: 15px;
}

td:last-child {
	border-right: none;	
}

tr:last-child td {
	border-bottom: none;
}

table {
	margin: 25px auto;
	width: 400px;
	height: 100%;
}

h3 {
	padding: 5px;
	text-align: center;
}

#content {
	margin: 15px;
}


.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
